.nav{
    display:flex;
    justify-content:space-around;
    list-style:none;
}

.outer{
    height:300px;
    width:500px;
    background-color:lightblue;
    display:flex;
    justify-content:center;
    align-items:center;
}

.inner{
    height:100px;
    width:100px;
    background-color:orange;
}